section{
    border: 2px dashed skyblue;
    padding: 20px;
}

h2{
    text-align: center;
}

li{
    list-style: none;
}

div {
    padding: 20px;
}

h3{
    padding: 30px;
    color:rgb(92, 170, 201);
}

p{
    background: #eee;
    padding: 20px;
}

hr{
    border: 1px dashed skyblue;
}